div {

    font-size:30px;
    font-family: Tahoma;
    margin: 35px;

}

.destaque {
  
    background-color: black; 
    color: white;
    padding: 30px;
    margin: 20px ;
    font-size: 120%; font-family: Tahoma;
    border-radius: 15px;


}